// Styling for the footer
footer {
    background: $black;
    color: $white;
    padding: 25px 0;
    text-align: center;
    span.copyright {
        font-size: 90%;
        line-height: 40px;
        text-transform: none;
        @include heading-font;
    }
    ul.quicklinks {
        font-size: 90%;
        line-height: 40px;
        margin-bottom: 0;
        text-transform: none;
        @include heading-font;
    }
}

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            font-size: 30px;
            line-height: 60px;
            display: block;
            width: 60px;
            height: 60px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            color: white;
            border-radius: 100%;
            outline: none;
            background-color: $black;
            &:active,
            &:focus,
            &:hover {
                background-color: $primary;
            }
        }
    }
}
