<!DOCTYPE html>
<html lang="en" ng-app="starterApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-touch-icon-180x180.png" />
    <title>BDM - Batalla de Maestros</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css">
    <link href="css/agency.min.css" rel="stylesheet">
    <script src="js/modernizr.js"></script>
</head>
<body id="page-top" ng-controller="mainCtrl" ng-cloak>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Batalla De Maestros</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#sponsor">Patrocinadores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="center-block">
                            <img class="img-responsive main-logo" src="img/logos/bdm.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="cd-horizontal-timeline">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" style="color: white;">Eventos</h2>
                </div>
            <div class="timeline2">
                <div class="events-wrapper">
                    <div class="events">
                        <ol>
                            <li ng-repeat="event in events"><a href="#0" data-date="{{event.fullDate}}" class="selected">{{event.date}}</a></li>
                        </ol>
        
                        <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                </div> <!-- .events-wrapper -->
                    
                <ul class="cd-timeline-navigation">
                    <li><a href="#0" class="prev inactive"><i class="fas fa-chevron-left"></i></a></li>
                    <li><a href="#0" class="next"><i class="fas fa-chevron-right"></i></a></li>
                </ul> <!-- .cd-timeline-navigation -->
            </div> <!-- .timeline -->
        
            <div class="events-content">
                <ol>
                    <li ng-repeat="event in events" ng-class="{'selected': $first}" data-date="{{event.fullDate}}">
                        <h2>{{event.location}}</h2>
                        <em>{{event.txtDate}}</em>
                        <p>	
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                        </p>
                    </li>
                </ol>
            </div> <!-- .events-content -->
    </section>

    <section id="sponsor">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/batallamaestros" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/batallademaestros" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCJtj07d70ZUoB8oF0yuocFw" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/BatallaDeMaestros" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/jquery.mobile.custom.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <script src="js/agency.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript">

    angular.module('starterApp', []).controller('mainCtrl', function($scope) {
        $scope.events = [
            {location: "Hermosillo", date:"May 4", fullDate:"04/05/2018", txtDate:"Mayo 04, 2018"},
            {location: "Tijuana", date:"May 5", fullDate:"05/05/2018", txtDate:"Mayo 05, 2018"},
            {location: "Mexicalli", date:"May 6", fullDate:"06/05/2018", txtDate:"Mayo 06, 2018"},
            {location: "Guadalajara", date:"Jun 2", fullDate:"02/06/2018", txtDate:"Junio 02, 2018"},
            {location: "Aguascalientes", date:"Jun 3", fullDate:"03/06/2018", txtDate:"Junio 03, 2018"},
            {location: "Monterrey", date:"Jun 9", fullDate:"09/06/2018", txtDate:"Junio 09, 2018"},
            {location: "Ciudad Juarez", date:"Jun 10", fullDate:"10/06/2018", txtDate:"Junio 10, 2018"},
            {location: "Cancun", date:"Jun 16", fullDate:"16/06/2018", txtDate:"Junio 16, 2018"},
            {location: "Merida", date:"Jun 17", fullDate:"17/06/2018", txtDate:"Junio 17, 2018"},
            {location: "CDMX", date:"Jun 23", fullDate:"23/06/2018", txtDate:"Junio 23, 2018"},
            {location: "San Luis Potosi", date:"Jun 24", fullDate:"24/06/2018", txtDate:"Junio 24, 2018"},
            {location: "Puebla", date:"Jun 30", fullDate:"30/06/2018", txtDate:"Junio 30, 2018"},
            {location: "Xalapa", date:"Jul 01", fullDate:"01/07/2018", txtDate:"Julio 01, 2018"}
        ]
    })
    </script>
    <script src="js/main.js"></script>

</body>
</html>
